---
import Header from '../components/Header.astro';

const { title = "Monica Mariage - Boutique de Robes de Mariée", description = "Découvrez nos robes de mariée sur-mesure à Toulouse." } = Astro.props;
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="/images/cover-robes.jpg" />
  <meta property="og:url" content={Astro.url} />
</head>
<body>
	<Header/>
  <slot />
</body>
</html>
